openapi: 3.2.0
info:
  title: Zilliz Cloud Clusters API
  description: 'Zilliz Cloud exposes two HTTP API surfaces, both documented at

    docs.zilliz.com/reference/restful. The Control Plane API (hosted at

    api.cloud.zilliz.com/v2) is used by account owners and operators to manage

    clusters, users, and roles. The Data Plane API (hosted at the

    per-cluster vectordb.zillizcloud.com endpoint) is used by applications to

    create collections and read or write vector data. Both surfaces are

    authenticated with a Bearer API key.'
  version: '2.0'
  contact:
    name: Zilliz Documentation
    url: https://docs.zilliz.com/reference/restful
servers:
- url: https://api.cloud.zilliz.com/v2
  description: Control Plane
- url: https://{cluster_id}.{region}.vectordb.zillizcloud.com
  description: Data Plane (per cluster)
  variables:
    cluster_id:
      default: in03-xxxxxxxxxxxxxxx
    region:
      default: aws-us-west-2
security:
- bearerAuth: []
tags:
- name: Clusters
  description: 'Control plane: cluster lifecycle management.'
paths:
  /clusters:
    get:
      tags:
      - Clusters
      summary: List clusters
      operationId: listClusters
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
        description: Records per page.
      - name: currentPage
        in: query
        schema:
          type: integer
        description: Page number (1-based).
      - name: region
        in: query
        schema:
          type: string
        description: Filter by cloud region.
      responses:
        '200':
          description: A page of clusters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterList'
  /clusters/createServerless:
    post:
      tags:
      - Clusters
      summary: Create a Serverless cluster
      operationId: createServerlessCluster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
      responses:
        '200':
          description: Created cluster identifiers.
  /clusters/createDedicated:
    post:
      tags:
      - Clusters
      summary: Create a Dedicated cluster
      operationId: createDedicatedCluster
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
      responses:
        '200':
          description: Created cluster identifiers.
  /clusters/{clusterId}:
    parameters:
    - name: clusterId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Clusters
      summary: Describe a cluster
      operationId: describeCluster
      responses:
        '200':
          description: Cluster details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
    delete:
      tags:
      - Clusters
      summary: Drop a cluster
      operationId: dropCluster
      responses:
        '200':
          description: Cluster scheduled for deletion.
  /clusters/{clusterId}/suspend:
    post:
      tags:
      - Clusters
      summary: Suspend a cluster
      operationId: suspendCluster
      parameters:
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cluster suspended.
  /clusters/{clusterId}/resume:
    post:
      tags:
      - Clusters
      summary: Resume a suspended cluster
      operationId: resumeCluster
      parameters:
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cluster resumed.
components:
  schemas:
    Cluster:
      type: object
      properties:
        clusterId:
          type: string
        clusterName:
          type: string
        status:
          type: string
        cuSize:
          type: integer
        deploymentOption:
          type: string
        region:
          type: string
    ClusterList:
      type: object
      properties:
        code:
          type: integer
        data:
          type: object
          properties:
            currentPage:
              type: integer
            pageSize:
              type: integer
            count:
              type: integer
            clusters:
              type: array
              items:
                $ref: '#/components/schemas/Cluster'
    CreateClusterRequest:
      type: object
      properties:
        clusterName:
          type: string
        regionId:
          type: string
        projectId:
          type: string
        plan:
          type: string
          description: Serverless | Standard | Enterprise
        cuSize:
          type: integer
        cuType:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key (or cluster username:password on data plane)
      description: 'Provide the API key in the Authorization header as

        `Authorization: Bearer ${API_KEY}`. On the data plane, the cluster

        endpoint additionally accepts `Bearer <username>:<password>` while

        the project endpoint accepts the API key only.'
